    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Bai Jamjuree', sans-serif;
    }
body {
  text-align: center;
  color: hsl(210, 10%, 33%);
    
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    .header {
        background-image: url(./images/bg-header-desktop.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        img{
            width: 100px;
            padding-top: 50px;
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    .btn{
        text-decoration: none;
        border-style: none;
        margin:20px 2.5px;
        padding: 10px 10px;
        border-radius:30px;
    }

        #iOS{
            background-color: hsl(115, 79%, 44%);
            color: white;
        }

        #Mac{
            background-color: hsl(228, 45%, 44%);
            color: white;
        }


    .snippets{
        margin-top: 50px;
    }
    .container {
    display: flex;
    flex direction: row;
    gap: 100px;
}

.computer {
    margin: 0%;
}

p {
    color: rgba(128, 128, 128, 0.776);
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(248, 245, 245, 0.776);
    gap: 100px;
    list-style-type: none;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100px;
    align-items: center;
}

.social {
    padding-left: 200px;
}

.logo {
    padding-left: 50px;
    margin-left: 0%;
}

.install{
    padding-top: 0px;
    margin-top: 0px;
    color: rgba(128, 128, 128, 0.776);
}
.privacy{
    color: rgba(128, 128, 128, 0.776);
}
.faq{
    color: rgba(128, 128, 128, 0.776);
}
/* Workflow */
.workflow {
  padding: 80px 20px;
}

.workflow-items {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.workflow-items div {
  max-width: 300px;
  padding: 15px;
}

/* Companies */
.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 20px;
}

   header {
  background: url('images/bg-header-desktop.png') no-repeat center top;
  background-size: cover;
  padding: 120px 20px 60px;
}

.logo {
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: hsl(201, 11%, 66%);
  line-height: 1.6;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
}

.ios {
  background: hsl(171, 66%, 44%);
}

.mac {
  background: hsl(233, 100%, 69%);
}

/* Track Section */
.track {
  padding: 80px 20px;
}

.track-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.track-content img {
  width: 500px;
}

.features {
  text-align: left;
  max-width: 350px;
}

.features h3 {
  margin-bottom: 10px;
}

/* Access */
.access {
  padding: 80px 20px;
}

.access img {
  width: 600px;
  margin-top: 40px;
}

/* Workflow */
.workflow {
  padding: 80px 20px;
}

.workflow-items {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.workflow-items div {
  max-width: 300px;
}

/* Companies */
.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 20px;
}

/* Download */
.download {
  padding: 80px 20px;
}

/* Footer */
footer {
  background: #f5f6f8;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  width: 50px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

.social img {
  margin: 0 10px;
  cursor: pointer;
}




